.Main {
    display: flex;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.left-box {
    width: 650px;
    height: 950px;
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.logo {
    width: 507px;
    height: 531px;
}
.div1lg {
    width: 439px;
    height: 103px;
}
.content {
    border: 1px solid #1565D8;
    width: 500px;
    height: 311px;
    padding-top: 5px;
    padding-left: 4px;
    margin-top: 60px;
    border-radius: 16px;
    align-items: center;
    box-sizing: border-box;
}
.dot {
    font-size: 76px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    color: #1565D8;
}
.paragraf {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    padding-bottom: 40px;
}
.name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 38px;
    color: rgba(21, 101, 216, 0.6);
}
.consolo {
    position: absolute;
    width: 336px;
    height: 418px;
    left: 550px;
    top: 600px;
}
.right-box {
    height: 950px;
    width: 750px;
}
/* .logging {
    display: flex;
    border: 5px solid blue;
} */
h1 {
    margin-right: auto;
    margin-left: auto;
}
.head {
    margin-top: 146px;
    width: 303px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 51px;
    align-items: center;
    text-align: center;
    color: #000000;

}
.secondP {
    margin-top: 12px;
    width: 411px;
    height: 28px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.icons {
    display: flex;
    width: 45px;
    height: 45px;
    margin-right: 16px;
    padding: 16px;
    box-shadow: 0.75em 0.75em 1em;
}
.iconmain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.logg {
    padding-top: 83px;
    margin-left: auto;
    margin-right: auto;
    width: 426px;
    height: 250px;
}
label{
    width: 2000px;
    height: 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
input {
    border: 1px solid #8692A6;
    box-sizing: border-box;
    border-radius: 6px;
    width: 426px;
    height: 64px;
}
.bar {
    display: flex;
}
.left_bar {
    background-color: #FFC107;
    height: 4px;
    width: 280px;
    position: relative;
    border-radius: 0 0 5px 5px;
    margin-top: 8px;
}
.right_bar {
    background-color: #C4C4C4;
    height: 4px;
    width: 146px;
    position: relative;
    border-radius: 0 0 5px 5px;
    margin-top: 8px;
}
.messeg {
    width: 283px;
    height: 17px;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 17px;
    color: #FFC107;
}
.checkbox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 426px;
    height: 20px;
    line-height: 19px;
    align-items: center;
    margin-top: 34px;
}
.check{
    width: 64px;
    height: 64px;
}
.agree {
    width: 220px;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
}
u {
    vertical-align: baseline;
    padding-left: 5px;
    color: blue;
}
.div_button {
    margin-left: auto;
    margin-right: auto;
    width: 426px;
    height: 64px;
    margin-top: 34px;
}
.button {
    width: 426px;
    height: 64px;
    background-color: blue;
    color: #FFFFFF;
}
.last_for_real {
    width: 426px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}
.lastp {

}